<div class="wrapper">
  <div class="container">
    <div class="col" *ngFor="let item of links">
      <p class="title">{{item.title }}</p>
      <ul class="list">
        <li *ngFor="let link of item.linkCollections"><a class="link" [href]="link.url"
            target="_blank">{{ link.label }}</a></li>
        <li><a class="link" href="item.linkCollections.url" target="_blank">{{ item.linkCollections.label }}</a></li>
        <li><a class="link" href="item.linkCollections.url" target="_blank">{{ item.linkCollections.label }}</a></li>
        <li><a class="link" href="item.linkCollections.url" target="_blank">{{ item.linkCollections.label }}</a></li>
      </ul>
    </div>
  </div>
  <p class="copyright">GDSC Fest Perú 2022</p>
</div>
