<div class="wrapper">
  <div class="container">
    <div class="col">
      <p class="title">Acerca de</p>
      <ul class="list">
        <li><a class="link" href="#">GDSC</a></li>
        <li><a class="link" href="#">GDSC UNI</a></li>
        <li><a class="link" href="#">GDSC UNICA</a></li>
        <li><a class="link" href="#">GDSC UTP</a></li>
      </ul>
    </div>
    <div class="col">
      <p class="title">Síguenos en</p>
      <ul class="list">
        <li><a class="link" href="#" target="_blank">Facebook</a></li>
        <li><a class="link" href="#" target="_blank">Twitter</a></li>
        <li><a class="link" href="#" target="_blank">Instagram</a></li>
        <li><a class="link" href="#" target="_blank">Discord</a></li>
      </ul>
    </div>
    <div class="col">
      <p class="title">Recursos</p>
      <ul class="list">
        <li><a class="link" href="#" target="_blank">Escríbenos</a></li>
        <li><a class="link" href="#" target="_blank">Código de Conducta</a></li>
        <li><a class="link" href="#" target="_blank">Políticas de privacidad</a></li>
        <li><a class="link" href="#" target="_blank">Call for Speakers</a></li>
        <li><a class="link" href="#" target="_blank">FAQs</a></li>
      </ul>
    </div>
  </div>
  <p class="copyright">GDSC Fest Perú 2022</p>
</div>
