<div>
  <div class="box iot" *ngIf="type === 'IOT'">
    <p>IOT</p>
  </div>
  <div class="box ai" *ngIf="type === 'AI'">
    <p>AI</p>
  </div>
  <div class="box blockchain" *ngIf="type === 'Blockchain'">
    <p>Blockchain</p>
  </div>
  <div class="box web" *ngIf="type === 'Web'">
    <p>Web</p>
  </div>
  <div class="box mobile" *ngIf="type === 'Mobile'">
    <p>Mobile</p>
  </div>
  <div class="box cloud" *ngIf="type === 'Cloud'">
    <p>Cloud</p>
  </div>
  <div class="box ui" *ngIf="type === 'UI/UX'">
    <p>UI/UX</p>
  </div>
  <div class="box gestion" *ngIf="type === 'Gestión de proyectos'">
    <p>Gestión de proyectos</p>
  </div>
  <div class="box empleabilidad" *ngIf="type === 'Software Development'">
    <p>Software Development</p>
  </div>

</div>
