.container {
  width: 100%;

  .menu {
    display: flex;
    padding: 28px 40px;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    padding-inline-start: 0;

    // Remover con el menu  hamburguesa

    @media screen and (max-width: 768px) {
      display: none;
    }

    &__item {
      font-size: 18px;
      margin: 0 20px;
      color: white;

      &:link {
        text-decoration: none;
      }

      &:visited {
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;
      }

      &:active {
        text-decoration: none;
      }
    }
  }
}
