<div class="container">
  <div class="container__header">
    <app-header></app-header>
  </div>
  <div class="wrapper">
    <img src="./../../../assets/icons/logo_gdsc.svg" alt="Logo GDSC" />
    <h1 class="title">GDSC Fest Perú 2022</h1>
    <p class="subtitle">21 y 22 de Mayo | Online</p>
    <a class="action__button" href="https://www.eventbrite.com.pe/e/gdsc-fest-peru-2022-tickets-323358262267">
      <p>Adquirir entradas</p>
    </a>
  </div>
  <div class="container__footer">
    <app-footer></app-footer>
  </div>
</div>
