<div class="container">
  <div class="container__header">
    <app-header></app-header>
  </div>
  <div class="wrapper">
    <div class="main">
      <img src="./../../../assets/icons/logo_gdsc.svg" alt="Logo GDSC" />
      <h1 class="title">GDSC Fest Perú 2022</h1>
      <p class="subtitle">21 y 22 de Mayo | Online</p>
      <a class="action__button" href="https://www.eventbrite.com.pe/e/gdsc-fest-peru-2022-tickets-323358262267">
        <p>Adquirir entradas</p>
      </a>
    </div>
    <div class="container__about">
      <div class="paragraph">
        <h2 class="title">¿Qué es GDSC Fest Perú?</h2>
        <p class="text">El GDSC Fest Perú es un evento organizado por los GDSC de Perú. En este evento reuniremos
          diferentes speakers
          para tocar temas de IOT, AI, Blockchain, Web, Mobile, Cloud.</p>
        <p class="text">Serán dos días llenos de talleres y sesiones en vivo.</p>
        <h2 class="title">¿Qué es GDSC?</h2>
        <p class="text">Los clubes de estudiantes de desarrolladores de Google (GDSC) son grupos comunitarios para
          estudiantes
          universitarios interesados ​​en las tecnologías de desarrollo de Google.</p>
        <p class="text">Serán dos días llenos de talleres y sesiones en vivo.</p>
        <p class="text">Conoce más <a href="#">aquí</a>.</p>
      </div>
      <div class="statistics">
        <div class="statistics__item">
          <p class="value">60</p>
          <small class="label">speakers</small>
        </div>
        <div class="statistics__item">
          <p class="value">20</p>
          <small class="label">sponsors</small>
        </div>
        <div class="statistics__item">
          <p class="value">30</p>
          <small class="label">ssesiones</small>
        </div>
        <div class="statistics__item">
          <p class="value">2</p>
          <small class="label">días</small>
        </div>
      </div>
    </div>
    <div class="container__speakers">
    </div>
    <div class="container__slogan">
      <p class="slogan">¡Únete a este evento y aprende cosas nuevas!</p>
    </div>
  </div>
  <div class="container__footer">
    <app-footer></app-footer>
  </div>
</div>
