<div class="container">
  <div class="container__header">
    <app-header></app-header>
  </div>
  <div class="wrapper">
    <div class="main">
      <div class="video-container">
        <video autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="./../../../assets/video/gdsc_fest_peru.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container__content">
        <img src="./../../../assets/icons/logo_gdsc.svg" alt="Logo GDSC" />
        <h1 class="title">GDSC Fest Perú 2022</h1>
        <p class="subtitle">21 y 22 de Mayo | Online</p>
        <a class="action__button" target="_blank" href="https://www.youtube.com/watch?v=g2EAc3Bv1SM">
          <p>Ingresar al Live</p>
        </a>
      </div>
    </div>
    <div class="container__about">
      <div class="paragraph">
        <h2 class="title">¿Qué es GDSC Fest Perú?</h2>
        <p class="text">El GDSC Fest Perú es un evento organizado por los GDSC de Perú. En este evento reuniremos
          diferentes speakers para tocar temas de IOT, AI, Blockchain, Web, Mobile, Cloud, UI/UX, Gestión de proyectos y
          empleabilidad.</p>
        <p class="text">Serán dos días llenos de talleres y sesiones en vivo.</p>
        <h2 class="title">¿Qué es GDSC?</h2>
        <p class="text">Los clubes de estudiantes de desarrolladores de Google (GDSC) son grupos comunitarios para
          estudiantes
          universitarios interesados ​​en las tecnologías de desarrollo de Google.</p>
        <p class="text">Conoce más <a href="#">aquí</a>.</p>
      </div>
      <div class="statistics">
        <div class="statistics__item">
          <p class="value">18</p>
          <small class="label">speakers</small>
        </div>
        <!-- <div class="statistics__item">
          <p class="value">20</p>
          <small class="label">sponsors</small>
        </div> -->
        <div class="statistics__item">
          <p class="value">20</p>
          <small class="label">horas</small>
        </div>
        <div class="statistics__item">
          <p class="value">{{daysCount}}</p>
          <small class="label">days</small>
        </div>
      </div>
    </div>
    <div class="container__speakers">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let speaker of speakers" class="slide">
          <img src="{{ speaker.photo }}" alt="" width="50%">
          <p class="titleSpeaker">{{speaker.name}}</p>
          <p class="descriptionSpeaker">{{speaker.description}}</p>
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="container__sponsors">
      <h2 class="title">Sponsors</h2>
      <!-- <p class="paragraph">¿Interesado en ser sponsor de este evento? Ponte en contacto con nosotros <a
          href="#">aquí</a>.
      </p> -->
      <h3 class="subtitle">Organizadores</h3>
      <div class="box__organizer">
        <div *ngFor="let item of organizer" class="organizer__item">
          <a [href]="item.url" target="_blank">
            <img class="item__img" [src]="item.img" [alt]="item.label" />
          </a>
        </div>
      </div>
      <div *ngFor="let sponsorsItem of sponsors" class="sponsors">
        <h3 class="subtitle">{{sponsorsItem.title}}</h3>
        <div class="box__sponsors">
          <div *ngFor="let item of sponsorsItem.sponsorCollections" class="sponsors__item">
            <a [href]="item.url">
              <img class="item__img" [src]="item.img" [alt]="item.label" />
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="container__slogan">
      <p class="slogan">¡Únete a este evento y aprende cosas nuevas!</p>
    </div>
    <div class="container__codeOfConduct" id="code">
      <h2 class="title">Código de conducta</h2>
      <div class="row">
        <div class="paragraph">
          <p class="text">El objetivo de las normas de la comunidad es fomentar el debate abierto y sano que siempre ha
            formado parte
            de nuestra cultura. Las siguientes directrices son una política oficial y se aplican a tus comunicaciones
            con
            otras personas en el entorno laboral.</p>
          <p class="text"><span class="text__highlight">Sé responsable.</span> Todo lo que dices y haces es importante.
            Eres responsable de tus palabras y
            acciones.</p>
          <p class="text"><span class="text__highlight">Sé constructivo.</span> Tu voz es tu contribución; haz que sea
            productiva.</p>
          <p class="text"><span class="text__highlight">Sé prudente.</span> Tus comentarios se pueden atribuir a Google
            independientemente de cuál sea tu
            intención, por
            lo
            que deberías procurar no hacer comentarios que puedan inducir a alguien a hacer suposiciones incorrectas.
          </p>
          <p class="text">Lee las normas de la comunidad <a href="#">aquí</a>.</p>
        </div>
        <div class="code__img">
          <img src="./../../../assets/icons/android.gif" alt="Logo Android" />
        </div>
      </div>
    </div>
  </div>
  <div class="container__footer">
    <app-footer></app-footer>
  </div>
</div>
