/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: 'Google Sans';
  src: url('https://gdsc-peru.web.app/assets/fonts/GoogleSans-Regular.ttf');
}
