/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'GoogleSans';
  src: url('./assets/fonts/GoogleSans-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  font-family: 'GoogleSans';  
}
